{{ ansible_managed | comment }}

COMMON_FLAGS="-O2 -pipe"
CFLAGS="${COMMON_FLAGS}"
CXXFLAGS="${COMMON_FLAGS}"
FCFLAGS="${COMMON_FLAGS}"
FFLAGS="${COMMON_FLAGS}"

# WARNING: Changing your CHOST is not something that should be done lightly.
# Please consult http://www.gentoo.org/doc/en/change-chost.xml before changing.
CHOST="x86_64-pc-linux-gnu"
CPU_FLAGS_X86="aes mmx mmxext popcnt sse sse2 sse3 sse4_1 sse4_2 ssse3"
# These are the USE flags that were used in addition to what is provided by the
# profile used for building.
USE="{{ portage_use | join(' ') }}"

# This sets the language of build output to English.
# Please keep this setting intact when reporting bugs.
LC_MESSAGES=C

MAKEOPTS="{{ portage_makeopts }}"
FEATURES="{{ portage_features | join(' ') }}"

PORTDIR="{{ portage_portdir }}"
DISTDIR="{{ portage_distdir }}"
PKGDIR="{{ portage_pkgdir }}"

PORTAGE_NICENESS="{{ portage_niceness }}"
PORTAGE_IONICE_COMMAND="ionice -c 3 -p \${PID}"

{% if not portage_buildserver %}
PORTAGE_BINHOST="{{ portage_binhost_url }}"

{% endif %}
GENTOO_MIRRORS="http://ftp-stud.hs-esslingen.de/pub/Mirrors/gentoo/ ftp://ftp.halifax.rwth-aachen.de/gentoo/"

L10N="{{ portage_l10n | join(' ') }}"
{% if portage_python_targets is defined and portage_python_targets %}

PYTHON_TARGETS="{{ portage_python_targets | join(' ') }}"
{% endif %}

PORTAGE_ELOG_SYSTEM="{{ portage_elog_system | join(' ') }}"
{% if portage_elog_mailto %}
PORTAGE_ELOG_MAILURI="{{ portage_elog_mailto }} {{ portage_elog_mda | default(portage_elog_smarthost) }}"
{% endif %}
{% if portage_elog_mailfrom %}
PORTAGE_ELOG_MAILFROM="{{ portage_elog_mailfrom }}"
{% endif %}

EMERGE_DEFAULT_OPTS="{{ portage_emerge_default_opts }}"
{% if portage_make_conf %}
{% for key, value in portage_make_conf | dict2items %}
{{ key }}="{{ value }}"
{% endfor %}
{% endif %}
