{{ ansible_managed | comment }}

[DEFAULT]
main-repo = {{ portage_repos_main }}

{% for repo in portage_repos | sort(attribute='name') %}
[{{ repo['name'] }}]
location = {{ repo['location'] }}
sync-type = {{ repo['sync_type'] }}
sync-uri = {{ repo['sync_uri'] }}
{% if 'sync_depth' in repo %}sync-depth = {{ repo['sync_depth'] }}{% endif %}

{% endfor %}
