#!/usr/bin/env bash

{{ ansible_managed | comment }}

set -e
set -x

eix-sync -a
{% if portage_buildserver | default(False) %}
emerge --oneshot --update --deep --newuse --changed-use --changed-deps @world
{% else %}
emerge --oneshot --update glibc libcrypt pax-utils # update glibc first if update is available
emerge --oneshot --update --deep --newuse --changed-use --changed-deps --with-bdeps=y @world
{% endif %}
emerge @preserved-rebuild
emerge --depclean --verbose n
eclean-dist
eclean-pkg
etc-update
{% if portage_buildserver | default(False) and portage_buildserver_git %}
pushd /var/db/repos/gentoo
git config remote.{{ portage_buildserver_git.id }}.url >&- || git remote add {{ portage_buildserver_git.id }} {{ portage_buildserver_git.url }}
git push rz42 --all
git push rz42 --tags
{% endif %}
